main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main article {
  border: 1px solid black;
  height: 95vh;
}
main article#contenedorformulario {
  flex: 60%;
  display: flex;
  flex-direction: column nowrap;
  justify-content: center;
  padding-top: 2rem;
}
main article#contenedorpreguntas {
  flex: 40%;
}
/*tabla*/
main article#contenedorpreguntas table {
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}
main article#contenedorpreguntas table th {
  border-bottom: 1.5px dashed black;
}

/*Td de la tabla*/
main article#contenedorpreguntas table td {
  padding: 0.75rem;
}

form a#atras {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 0 0.25rem;
  background-color: lightgray;
}

div.formulariofila {
  padding: 1rem;
}

div.formulariofila button[type='submit'] {
  margin-left: 5rem;
  background-color: lightgray;
  padding: 0.25rem 0.5rem;
}

div.formulariofila a#atras {
  margin-left: 2rem;
  box-shadow: 1px 1px 1px black;
  padding: 0.25rem 0.5rem;
}
