div#contenedor{
    padding-top: 2rem;
    text-align: center;
}
script{
    padding-left: 5rem;
}

footer#boton {
    text-align: center;
    

}

footer#boton a button {
    background-color:cornflowerblue;
    margin-top: 2rem;
    padding: 0.25rem 0.50rem;
    box-shadow: 2px 2px 1.5px grey;
    

}